.channel_title{
    font-size: 20px;
}
.channel_line{
    width: 100%;
    height: 1px;
    background: rgb(231, 230, 230);
    margin: 10px 0;
}
.Channel_public_item{
    display: flex;
    flex-wrap: wrap;
}