@font-face {
    font-family: xwz; /*这里是说明调用来的字体名字*/
    src: url('../src/font/xwz.ttf'); /*这里是字体文件路径*/
}
.mylogin{
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    position: absolute;
    bottom: 0;
}
.logincontainer{
    display: flex;
}
.logintitle{
    width: 100px;
    height: auto;
    color: white;
    font-family: xwz;
    padding:20px;
    text-align: right;
    font-size: 30px;
    border-top-left-radius:5px;
    border-bottom-left-radius: 5px;
    background: #d43c33;
}
.myform{
    border: 1px #d43c33 solid;
    padding: 35px 40px;
    border-radius: 5px;
    border-top-left-radius: 0;
    border-bottom-left-radius: 0;
}
.loginform input{
    border:0;
    border-bottom: 1px #d43c33 solid;
    width: 220px;
    height: 40px;
}
.myinput{
    background: white!important;
}
.loginbtn{
    background: #d43c33;
    color: white;
    margin-top: 20px;
    border-radius: 5px;
}
.lgname{
    margin: 10px 0;
}